.top-bar {
	background: linear-gradient(to right, blue, white);
	min-width:100%;
	opacity: 0.8;
}

.top-bar-section {
	background: blue;
	/* text-transform: uppercase; */
}

.contain-to-grid {
	background: white;
	/* margin-top: 2px; */
	/* margin-bottom: 10px; */
}

.top-bar-section li:not(.has-form) a:not(.button){
	background: blue;
	/* text-transform: uppercase; */
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: rgba(0, 0, 255, 0.8);
}

.orbit-slides-container img {
	/* min-width: auto; */
	/* min-width: 100%; */
	/* margin: 0 auto; */
	/* height: 400px; */
	height: auto;
}

.row1 {
	min-width:100% !important;
	min-height:100% !important;
	/* background-color:red; */
	background: url(../img/lecya.jpg) no-repeat center top fixed;
	/* background: url(../img/smile.jpg) no-repeat center top fixed;  */
    background-size: cover;
}

/*.row1 div:first-child h1 { */
.row1 div{
	height: 100%;
	position: absolute;
	min-height: 100%;
	vertical-align: middle;
}

.row1 h1 {
	font-family: cursive; 
    color: #F8E50C;
	/* position: absolute; */
	position: relative;
	vertical-align: middle;
	left: 30%;
	top: 15%;
}

.row2 {
	background: linear-gradient(to right, rgba(0, 0, 255, 0.8), white);
	/* min-height:60%; */
	/* height: auto; */
	/* position: relative; */
	/* position: relative; */
}

.row2 div {
	/* top: 5%; */
	/* bottom: 5%; */
	/* left: 5%; */
	/* position: absolute; */
	/* position: relative; */
	/* vertical-align: middle; */
	/* max-height: 100%; */
	/* max-width: 100%; */
	/* display: inline-block; */
	/* overflow: auto; */
	margin: 5%;
}

.row {
	min-width:100%;
}

.popup-gallery img {
	margin: 4px;
	height: 200px;
	width: auto;
}

.row3 {
	background: linear-gradient(to right, rgba(0, 255, 0, 0.8), white);
}

.about-artist{
	min-height: 100%;
	vertical-align: middle;
	padding: 5%;
}

.row3 h1 {
	font-family: cursive; 
    color: blue;
}

.row4 {
	background: linear-gradient(to right, rgba(0, 0, 255, 0.8), white);
}

.row4 div{
	padding: 5%;
}

.row4 iframe {
	/* width: 100%; */
	/* overflow: hidden; */
}

#wrapp {
    position: relative;
    padding-bottom:75%;  // video is 4:3 aspect ratio
    padding-top: 25px;
    height: 0;
    width:80%;
    margin:15px auto;
    z-index:2;
    /* border:medium ridge #b30000; */
    /* border-radius:9px; */
}

#player{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
